{% extends 'main/base-datatables.html' %}

{% load adminlte_helpers i18n %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title p-2">{{ site.page_title }}</h3>
              {% if can_add %}
                <a class="btn btn-outline-primary float-right" href="{% url 'product_new' %}">Add...</a>
              {% endif %}
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="datatables" class="table table-striped" data-server-side="true" data-ajax="{{ datatables_path }}">
                <thead>
                    <tr>
                        <th data-data="id" class="min">ID</th>
                        <th data-data="supply.name">Supply</th>
                        <th data-data="name">Name</th>
                        <th data-data="bio_label">Bio</th>
                        <th data-data="brand.name">Brand</th>
                        <th data-data="ean">EAN</th>
                        <th data-data="supply.category.name">Category</th>
                        <th data-data="packaging.name">Packaging</th>
                        <th data-data="amount">Amount</th>
                        <th data-data="unit.name">Unit</th>
                        <th data-data="order_value">#stock</th>
                        <th data-data="min_count">#min</th>
                        <th data-data="num_items">#cnt</th>
                        <th class="min">&nbsp;</th>
                    </tr>
                </thead>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
{% endblock %}

{% block datatable_js %}
<script type="text/javascript">
        $(document).ready(function () {
            dataTables =
            $('#datatables').DataTable({
                "lengthMenu": [[100, 250, 500, -1], [100, 250, 500, "All"]],
                "order": [[ 1, "asc" ]],
                "responsive": true,
                "scrollX": true,
                "stateSave": true,
                "stateDuration": -1,
                "stateSaveParams": function (settings, data) {
                    data.search.search = "";
                },
                "columns": [
                   { "className": "min col-right", },
                    {
                       "render": function (data, type, row) {
                           let output = data;
                            if(row['bio_label'] === true) {
                                output += ' <i class="fas fa-seedling text-success" title="Bio"></i>';
                            }
                            return output;
                        }
                   },
                    {
                        "defaultContent": '-'
                    },
                    {
                        "visible": false,
                    },
                    {
                        "defaultContent": '-'
                    },
                    {
                        "defaultContent": '-'
                    },
                    null,
                    {
                        "className": "min",
                        "defaultContent": '-'
                    },
                    { "className": "min col-right", },
                    {
                        "className": "min col-center",
                    },
                    {
                        "className": "min col-center",
                        "defaultContent": '-',
                        "render": function (data, type, row) {
                            if ( type === "sort" || type === 'type' ) {
                                return row['order_value'];
                            }

                            let minCount = row['min_count'];
                            let buttonColor = 'primary';
                            let buttonText = row['num_items'];
                            let titleText = "current: " + row['num_items'];

                            if(minCount) {
                                buttonText = row['num_items'] + ' / ' + minCount;
                                titleText = "current: " + row['num_items'] + ' / min: ' + minCount;
                            }

                            if(minCount && row['num_items'] >= minCount) {
                                buttonColor = 'success';
                            }

                            if(minCount && row['num_items'] < minCount && row['num_items'] > 0) {
                                buttonColor = 'warning';
                            }

                            if(minCount && row['num_items'] < minCount && row['num_items'] === 0) {
                                buttonColor = 'danger';
                            }

                            let button = '<button class="btn btn-xs btn-block bg-gradient-' + buttonColor + '" title="' + titleText + '">' + buttonText + '</button>';

                            if(!minCount && row['num_items'] === 0) {
                                return '';
                            }else if(row['num_items'] > 0) {
                                return '<a href="/supplies/supply_items/by_product/' + row['id'] + '/">' + button + '</a>';
                            }else {
                                return button;
                            }
                        }
                    },
                    {
                        "visible": false,
                    },
                    {
                        "visible": false,
                    },
                    {
                        "orderable": false,
                        "searchable": false,
                        "className": "min col-center",
                        "render": function (data, type, row) {
                            let rowId = row['id'];
                            let links = '<div class="btn-group" role="group">';
                            {% if use_todoist %}
                                links+= '<button id="todoist_button" class="btn btn-xs" value="' + rowId + '" title="Todoist"><i class="fas fa-shopping-cart text-secondary"></i></button>';
                            {% endif %}
                            links+= '<a class="btn btn-xs" href="/supplies/products/' + rowId + '/edit" title="edit"><i class="fa fa-fw fa-edit text-primary"></i></a>'
                            links+= '<a class="btn btn-xs" href="/supplies/products/' + rowId + '/delete" title="delete"><i class="fa fa-fw fa-trash text-danger"></i></a>'
                            links+= '</div>';
                            return links;
                        }
                    },
                ],
            });

            $(document).on("click", "#todoist_button", function(){
                let button = $(this);
                let id = button.val();
                button.prop('disabled', true);

                toastr.options = {
                  "closeButton": false,
                  "debug": false,
                  "newestOnTop": true,
                  "progressBar": true,
                  "positionClass": "toast-top-right",
                  "preventDuplicates": false,
                  "onclick": null,
                  "showDuration": "200",
                  "hideDuration": "200",
                  "timeOut": "3000",
                  "extendedTimeOut": "5000",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut"
                }

                $.ajax({
                    url: "/supplies/products/" + id + "/todoist/",
                    type: "GET",
                    dataType: 'json',
                    success: function (data) {
                        if(data.status === "success") {
                            toastr["success"]("added to Todoist", data.message);
                        }else if(data.status === "error") {
                            toastr.options.timeOut = "5000"
                            toastr["error"](data.message, "error occurred");
                        }
                        button.prop('disabled', false);
                    }
                });
            });
        });

    </script>
{% endblock %}