{% extends 'adminlte/lib/_main_sidebar.html' %}

{% load adminlte_helpers %}
{% load static %}

{% block logo_text %}<span class="brand-text font-weight-light">{{ site.name }}</span>{% endblock %}

{% block user_panel %}{% endblock user_panel %}

<!-- sidebar menu: : style can be found in sidebar.less -->
{% block nav_links_ul %}
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            {% if not user.is_authenticated %}
                <li class="nav-header">USER</li>
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link {% if nav.second_level == 'login' %}active{% endif %}">
                        <i class="nav-icon far fa-user"></i>
                        <p>Login</p>
                    </a>
                </li>
            {% else %}
        {% block nav_links_outer %}

        {% block nav_links %}
        <li class="nav-header">HOUSEKEEPING BOOK</li>
        <li class="nav-item">
            <a href="{% url 'booking_index' %}" class="nav-link {% if nav.second_level == 'bookings' %}active{% endif %}">
                <i class="nav-icon fas fa-money-check-alt"></i> Bookings
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'periodic_booking_index' %}" class="nav-link {% if nav.second_level == 'periodic_bookings' %}active{% endif %}">
                <i class="nav-icon fas fa-sync"></i> Periodic bookings
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'statistics_category_totals_per_month' %}" class="nav-link {% if nav.second_level == 'statistics_category_totals_per_month' %}active{% endif %}">
                <i class="nav-icon fas fa-chart-line"></i> Statistics
            </a>
        </li>
        <li class="nav-header">SUPPLIES</li>
        <li class="nav-item">
            <a href="{% url 'supply_item_index' %}" class="nav-link {% if nav.second_level == 'supply_items' %}active{% endif %}">
                <i class="nav-icon fas fa-money-check-alt"></i> Supply items
            </a>
        </li>

        <li class="nav-header font-weight-bold">SETTINGS</li>
        <li class="nav-header">HOUSEKEEPING BOOK</li>
        <li class="nav-item">
            <a href="{% url 'account_holder_index' %}" class="nav-link {% if nav.second_level == 'account_holders' %}active{% endif %}">
                <i class="nav-icon fas fa-handshake"></i> Account holders
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'category_index' %}" class="nav-link {% if nav.first_level == 'housekeeping_book' and nav.second_level == 'categories' %}active{% endif %}">
                <i class="nav-icon fas fa-database"></i> Categories
            </a>
        </li>
        <li class="nav-header">SUPPLIES</li>
        <li class="nav-item">
            <a href="{% url 'brand_index' %}" class="nav-link {% if nav.second_level == 'brands' %}active{% endif %}">
                <i class="nav-icon fas fa-handshake"></i> Brands
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'supplies_category_index' %}" class="nav-link {% if nav.first_level == 'supplies' and nav.second_level == 'categories' %}active{% endif %}">
                <i class="nav-icon fas fa-database"></i> Categories
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'supply_index' %}" class="nav-link {% if nav.first_level == 'supplies' and nav.second_level == 'supplies' %}active{% endif %}">
                <i class="nav-icon fas fa-database"></i> Supplies
            </a>
        </li>
{#        <li class="nav-item">#}
{#            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">#}
{#              <i class="nav-icon fas fa-th-large"></i> Control bar demo#}
{#            </a>#}
{#        </li>#}
        {% endblock nav_links %}
        {% endblock nav_links_outer %}
        {% endif %}
        </ul>
    </nav>
{% endblock nav_links_ul %}