{% extends 'main/base.html' %}

{% load adminlte_helpers i18n %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">{{ site.page_title }}</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="box">
                            <div class="box-body">
                                <form method="POST" class="post-form">
                                    {% csrf_token %}
                                    {{ form.non_field_errors }}
                                    {{ form.source.errors }}
                                    {{ form.source }}

                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label>{{ form.name.label_tag }}</label>
                                                {{ form.name.errors }}
                                                {{ form.name }}
                                                <small id="name_help" class="form-text text-muted">Name</small>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>{{ form.bio_label.label_tag }}</label>
                                                {{ form.bio_label.errors }}
                                                {{ form.bio_label }}
                                                <small id="bio_label_help" class="form-text text-muted">Bio</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>{{ form.brand.label_tag }}</label>
                                                {{ form.brand.errors }}
                                                {{ form.brand }}
                                                <small id="brand_help" class="form-text text-muted">Brand</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>{{ form.category.label_tag }}</label>
                                                {{ form.category.errors }}
                                                {{ form.category }}
                                                <small id="category_help" class="form-text text-muted">Category</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>{{ form.amount.label_tag }}</label>
                                                {{ form.amount.errors }}
                                                {{ form.amount }}
                                                <small id="amount_help" class="form-text text-muted">Amount</small>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>{{ form.unit.label_tag }}</label>
                                                {{ form.unit.errors }}
                                                {{ form.unit }}
                                                <small id="unit_help" class="form-text text-muted">Unit</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>{{ form.packaging.label_tag }}</label>
                                                {{ form.packaging.errors }}
                                                {{ form.packaging }}
                                                <small id="packaging_help" class="form-text text-muted">Packaging</small>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>{{ form.min_count.label_tag }}</label>
                                                {{ form.min_count.errors }}
                                                {{ form.min_count }}
                                                <small id="min_count_help" class="form-text text-muted">warn when it is running low</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="float-right">
                                                <a class="btn btn-default" href="{% url 'supply_index' %}">Cancel</a>
                                                <button type="submit" class="save btn btn-primary pull-right">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
{% endblock %}
